.layout-side-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--space-base) var(--space-m);
  width: 400px;

  .phone & {
    width: 250px;
  }

  &__title {
    font-size: var(--font-size-h5);
    font-weight: var(--font-regular-bold);
    text-align: left;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--space-m);
    padding-top: var(--space-l);

    .input-date .form-control {
      border: none;
      border-bottom: var(--border-size-s) solid var(--color-neutral-5);
      border-radius: 0;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
