.layout-side-bar {
  --navbar-height: 56px;
  padding-top: var(--navbar-height);

  &__navbar {
    height: var(--navbar-height);
    width: 100%;
    background: var(--color-neutral-0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: var(--space-s) var(--space-xl);
  }

  &__main-content {
    display: flex;

    &--side-bar {
      gap: var(--space-m);
      min-width: 25%;
      padding: var(--space-m) var(--space-l);
    }

    &--content {
      flex-grow: 1;
    }
  }
}
