.layout-title-breadcrumb {
  padding: var(--space-m) var(--space-l);
  background-color: var(--color-neutral-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-base);
  height: 100%;

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);

    &-title {
      color: var(--color-neutral-10);
      font-weight: var(--font-bold);
      font-size: var(--font-size-h2);
    }
  }

  &__content {
    width: 100%;
    display: flex;

    &:first-child {
      width: 100%;
    }
  }
}
