.layout-side-bar {
  padding-top: var(--map-toolbar-height);

  &__toolbar {
    width: 100%;
    height: var(--map-toolbar-height);
    position: fixed;
    top: var(--header-size);
    left: 0;
    z-index: 10;
  }

  &__main-content {
    --side-bar-width: 400px;
    padding-left: var(--side-bar-width);

    &-side-bar {
      height: 100vh;
      width: var(--side-bar-width);
      background-color: var(--color-neutral-0);
      padding: var(--space-m) var(--space-l);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-m);
      position: fixed;
      left: 0;
      top: calc(var(--map-toolbar-height) + var(--header-size));
    }
  }

  .tablet &,
  .phone & {
    .layout-side-bar__main-content {
      display: flex;
      flex-direction: column;
      --side-bar-width: 100%;
      --side-bar-height: 180px;
      padding-left: 0;
      padding-top: var(--side-bar-height);

      &-side-bar {
        height: fit-content;
        width: var(--side-bar-width);
        gap: var(--space-s);
        position: fixed;
        left: 0;
        top: calc(var(--map-toolbar-height) + var(--header-size));
      }

      &-content {
        width: 100%;
        height: 100vh;
      }
    }
  }

  .phone & {
    .layout-side-bar__main-content {
      --side-bar-height: 140px;
      padding-top: var(--side-bar-height);
    }
  }
}
