.layout-top-menu {
  padding-top: var(--header-size);

  .tablet &,
  .phone & {
    padding-bottom: 64px;
  }

  &__navbar {
    height: var(--header-size);
    width: 100%;
    background: var(--color-neutral-0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: var(--space-s) var(--space-xl);

    .tablet &,
    .phone & {
      padding: var(--space-s) var(--space-base);

      .top-menu {
        padding-top: var(--space-xs);
      }
    }
  }
}
