@font-face {
    font-family: 'Fira Sans';
    src: url('/FieldService_Theme/FiraSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/FieldService_Theme/FiraSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/FieldService_Theme/FiraSans-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/FieldService_Theme/FiraSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}
    
    
    /*  Font Definition ********** */
html,
body {
    font-family: var(--font-family);
}