.tag {
  font-weight: var(--font-regular-bold);
  background-color: var(--color-brand-blue);

  &-secondary {
    border: var(--border-size-s) solid var(--color-brand-blue);
    background-color: var(--color-info-light);
    color: var(--color-brand-blue);
  }
}
