.edit-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-s);

  &__image-upload {
    .upload {
      border: none;
      padding: 0;
    }

    &-img {
      width: 87px;
      border-radius: var(--border-radius-circle);
    }

    &-upload {
      color: var(--color-info);
      font-size: var(--font-size-xs);
      text-align: center;
    }
  }

  &__title {
    color: var(--color-neutral-10);
    font-size: var(--font-size-h3);
  }

  &__subtitle {
    color: var(--color-neutral-8);
    font-size: var(--font-size-xs);
  }
}
