.icon-info-card {
  display: flex;
  align-items: center;
  padding: var(--space-m);
  border: var(--border-size-s) solid var(--color-neutral-4);
  box-shadow: 0 var(--space-xs) var(--space-s) 0 var(--color-neutral-4);
  border-radius: var(--border-radius-medium);
  color: var(--color-neutral-9);
  min-width: 340px;

  &__icon {
    margin-right: var(--space-m);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .phone & {
      flex-direction: row;
      align-items: center;
      column-gap: var(--space-base);
    }

    &--title {
      font-size: var(--font-size-h2);
      font-weight: var(--font-bold);
    }

    &--label {
      font-size: var(--font-size-h4);
      font-weight: var(--font-regular-bold);
    }
  }
}
