.table-toolbar {
  align-items: flex-start;
  background: var(--color-neutral-1);
  border-radius: var(---border-radius-soft);
  display: flex;
  gap: var(--space-base);
  justify-content: space-evenly;
  padding: var(--space-base);

  .tablet &,
  .phone & {
    flex-direction: column;
  }
  &__search {
    flex-grow: 1;

    .tablet &,
    .phone & {
      width: 100%;
    }
  }
  &__actions {
    align-items: center;
    display: flex;

    .phone & {
      align-items: flex-start;
      flex-direction: column;
      row-gap: var(--space-base);

      .btn,
      div {
        width: 100%;

        .icon {
          display: none;
        }
      }
      .ThemeGrid_MarginGutter {
        margin-left: 0;
      }
      .btn + .btn {
        margin-left: 0;
      }
    }
    .button-group-item {
      border: var(--border-size-s) solid var(--color-info);
      color: var(--color-info);
      font-size: var(--font-size-s);
      font-weight: var(--font-regular-bold);
      padding: var(--space-s) var(--space-m);
    }
    .button-group-selected-item {
      background: var(--color-info);
      color: var(--color-neutral-0);
    }
    .btn + .btn {
      margin-left: var(--space-base);
    }
    .tablet &,
    .phone & {
      width: 100%;
    }
  }
}
