.title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xs);

  &__title {
    font-size: var(--font-size-base);
    color: var(--color-neutral-10);
  }

  &__subtitle {
    font-size: var(--font-size-xs);
    color: var(--color-neutral-9);

    .form-control {
      border: none;
      font-size: var(--font-size-xs);
      color: var(--color-neutral-9);
      padding: 0;
      height: 20px;

      &:hover,
      &:active {
        border: none;
      }
    }
  }
}
