.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: var(--space-m);

    a {
      color: var(--color-neutral-8);
      font-weight: var(--font-regular);
      font-size: var(--font-size-s);
      padding: var(--space-s);
      white-space: nowrap;

      &.active {
        color: var(--color-neutral-9);
        background: var(--color-neutral-4);
        font-weight: var(--font-bold);
        border-radius: var(--border-radius-medium);
      }

      &:hover {
        text-decoration: none;
        color: var(--color-neutral-8);
      }
    }

    .button-group-item {
      border: transparent;
      color: var(--color-neutral-8);
      font-weight: var(--font-regular);
      font-size: var(--font-size-s);
      width: auto;
      min-width: 111px;
      border-radius: var(--border-radius-medium);
      padding: var(--space-s);

      &:last-child {
        border-radius: var(--border-radius-soft);
      }
    }

    .button-group-selected-item {
      color: var(--color-neutral-9);
      background: var(--color-neutral-4);
      font-weight: var(--font-bold);
    }
  }

  &__user-dropdown {
    .popover__username {
      color: var(--color-neutral-8);
      font-size: var(--font-size-s);
      font-weight: var(--font-regular);
    }

    .popover__icon {
      padding-left: var(--space-s);
    }
  }
}
