.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: var(--space-m);

    a {
      color: var(--color-neutral-8);
      font-weight: var(--font-regular);
      font-size: var(--font-size-s);
      padding: var(--space-s);
      white-space: nowrap;

      &.active {
        color: var(--color-neutral-9);
        background: var(--color-neutral-4);
        font-weight: var(--font-bold);
        border-radius: var(--border-radius-medium);
      }

      &:hover {
        text-decoration: none;
        color: var(--color-neutral-8);
      }
    }
  }

  &__user-dropdown {
    .popover__username {
      color: var(--color-neutral-8);
      font-size: var(--font-size-s);
      font-weight: var(--font-regular);
    }

    .popover__icon {
      padding-left: var(--space-s);
    }
  }

  &__title {
    font-size: var(--font-size-h6);
    color: var(--color-info);
    font-weight: var(--font-regular-bold);
  }

  &__avatar {
    width: 36px;
  }

  .phone &,
  .tablet & {
    padding: var(--space-s) var(--space-base);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
